<div local-class="container">
  <span local-class="day">
    {{format-moment time "dddd"}}
  </span>
  <span local-class="month">
    {{format-moment time "MMMM"}}
  </span>
  <span local-class="date">
    {{format-moment time "Do"}},
  </span>
  <span local-class="year">
    {{format-moment time "YYYY"}}
  </span>
  <span local-class="time">
    {{format-moment time "ha"}}
  </span>
</div>
