{{content-editable local-class="name" value=task.name
  type="text" allowNewlines=false
  autofocus=task.isNew
  key-up=(perform save) enter=(action "blur")}}
<div local-class="start {{if task.finish "is-finished" "is-unfinished"}}">
  {{task-time time=task.start save=(perform save)}}
</div>
{{#if task.finish}}
  <div local-class="finish">
    {{task-time time=task.finish save=(perform save)}}
  </div>
  <div local-class="duration">
    {{moment-duration task.duration}}
  </div>
{{else}}
  <div local-class="finish">
    {{moment-format now "HH:mm:ss"}}
  </div>
  <div local-class="duration">
    {{moment-duration range.duration}}
  </div>
{{/if}}
<div local-class="destroy" {{action "destroy"}}>
  &times;
</div>
{{#unless task.finish}}
  <div local-class="actions">
    {{task-finish task=task}}
    {{task-start lastTask=task}}
  </div>
{{/unless}}
