{{content-editable local-class="name" value=task.name
  type="text" allowNewlines=false
  autofocus=task.isNew
  focus-out=(action "save") enter=(action "blur")}}
<div local-class="start">
  {{moment-format task.start 'HH:mm:ss'}}
</div>
{{#if task.finish}}
  <div local-class="finish">
    {{moment-format task.finish 'HH:mm:ss'}}
  </div>
  <div local-class="duration">
    {{moment-duration task.duration}}
  </div>
{{else}}
  <div local-class="duration">
    {{moment-duration (moment-from-now task.start)}}
  </div>
  <div local-class="finish-action" {{action "finish"}}>
    <span local-class="icon">&times;</span>
    Finish
  </div>
{{/if}}
<div local-class="destroy" {{action "destroy"}}>
  &times;
</div>
