{{time-handle time=task.start drag=(action "drag" "start")
  local-class="start-handle"}}
{{#if task.finish}}
  {{time-handle time=task.finish drag=(action "drag" "finish")
    local-class="finish-handle"}}
{{/if}}
<div local-class="project">
  {{task.name}}
  <!-- {{project-select select=select}} -->
</div>
{{#if task.finish}}
  <div local-class="duration">
    {{format-duration task.duration}}
  </div>
{{else}}
  <div local-class="duration">
    {{format-duration range.duration}}
  </div>
{{/if}}
<div local-class="destroy" {{action "destroy"}}>
  &times;
</div>
