<div local-class="container
  {{if pomodoro.isPomodoro "is-pomodoro"}}
  {{if pomodoro.isBreak "is-break"}}
  {{if pomodoro.finish "is-finished" "is-unfinished"}}
  {{if pomodoro.isAdjacentBefore "is-adjacent-before"}}
  {{if pomodoro.isAdjacentAfter "is-adjacent-after"}}"
  style={{range-styles range containerRange}}>
  {{#if showExcess}}
    <div local-class="excess"
      style={{range-position-styles pomodoro.target range}}></div>
  {{/if}}
</div>
