{{#if current.isUnfinished}}
  <button local-class="container {{if current.isComplete "is-complete"}}" {{action "start"}}>
    <span local-class="time">
      {{format-duration (if current.isComplete
        (moment-diff (now) current.target)
        (moment-diff current.target (now))) "mm:ss" trim=false}}
    </span>
    <span local-class="label">
      {{#if current.isPomodoro}}
        Break
      {{else}}
        Work
      {{/if}}
    </span>
    {{keyboard-shortcut shortcut="KeyP" label="P" action=(action "start")
      local-class="shortcut"}}
  </button>
{{/if}}
